.Layout {
  :global {
    .ant-page-header-breadcrumb {
      padding-block-end: 10px;
    }

    .ant-pro-query-filter-collapse-butto {
      min-width: 50px;
    }

    .field-paragraph {
      margin-bottom: 0;
      color: @color-text-base;
    }
  }
}
